                                        <?php 
                                        $modelMov = new models\Movements();
                                        $atA = $modelMov->alltimeActive();
                                        $atP = $modelMov->alltimePassive();
                                        if(isset($_GET['fecha'])){
                                            $atDA = $modelMov->dayActive($_GET['fecha']);
                                            $atDP = $modelMov->dayPassive($_GET['fecha']);
                                            $atSmA = $modelMov->semActive($_GET['fecha']);
                                            $atSmP = $modelMov->semPassive($_GET['fecha']);
                                            $atMA = $modelMov->mesActive($_GET['fecha']);
                                            $atMP = $modelMov->mesPassive($_GET['fecha']);
                                            $atSIXA = $modelMov->sixActive($_GET['fecha']);
                                            $atSIXP = $modelMov->sixPassive($_GET['fecha']);
                                            $atYeA = $modelMov->yearActive($_GET['fecha']);
                                            $atYeP = $modelMov->yearPassive($_GET['fecha']);
                                        
                                              $totalDA = 0;
                                            while ($dataDA = mysqli_fetch_array($atDA)) {
                                                $totalDA += $dataDA['totalMoney'];
                                            }

                                            $totalDP = 0;
                                            while ($dataDP = mysqli_fetch_array($atDP)) {
                                                $totalDP += $dataDP['totalMoney'];
                                            }

                                            $totalSmA = 0;
                                            while ($dataSmA = mysqli_fetch_array($atSmA)) {
                                                $totalSmA += $dataSmA['totalMoney'];
                                            }
                                            $totalSmP = 0;
                                            while ($dataSmP = mysqli_fetch_array($atSmP)) {
                                                $totalSmP += $dataSmP['totalMoney'];
                                            }

                                            $totalSA = 0;
                                            while ($dataSA = mysqli_fetch_array($atMA)) {
                                                $totalSA += $dataSA['totalMoney'];
                                            }
                                            $totalMP = 0;
                                            while ($dataMP = mysqli_fetch_array($atMP)) {
                                                $totalMP += $dataMP['totalMoney'];
                                            }

                                            $totalSIXA = 0;
                                            while ($dataSIXA = mysqli_fetch_array($atSIXA)) {
                                                $totalSIXA += $dataSIXA['totalMoney'];
                                            }
                                            $totalSIXP = 0;
                                            while ($dataSIXP = mysqli_fetch_array($atSIXP)) {
                                                $totalSIXP += $dataSIXP['totalMoney'];
                                            }

                                            $totalYeA = 0;
                                            while ($dataYeA = mysqli_fetch_array($atYeA)) {
                                                $totalYeA += $dataYeA['totalMoney'];
                                            }
                                            $totalYeP = 0;
                                            while ($dataYeP = mysqli_fetch_array($atYeP)) {
                                                $totalYeP += $dataYeP['totalMoney'];
                                            }



                                         }


                                        
                                           $totalA = 0;
                                            while ($dataA = mysqli_fetch_array($atA)) {
                                                $totalA += $dataA['totalMoney'];
                                            }
                                            $totalP = 0;
                                            while ($dataP = mysqli_fetch_array($atP)) {
                                                $totalP += $dataP['totalMoney'];
                                            }
                                        ?>
                                         <input type="hidden" id="valor1" value="<?php echo $totalP; ?>" name="">
                                         <input type="hidden" id="valor2" value="<?php echo $totalA; ?>" name="">
                                         <input type="hidden" id="valor3" value="<?php echo $totalA-$totalP; ?>" name="">
                                         <input type="hidden" id="valordiaA1" value="<?php echo $totalDA; ?>" name="">
                                         <input type="hidden" id="valordiaP1" value="<?php echo $totalDP; ?>" name="">
                                         <input type="hidden" id="valordiaT1" value="<?php echo $totalDA-$totalDP; ?>" name="">
                                         <input type="hidden" id="valorSmA1" value="<?php echo $totalSmA; ?>" name="">
                                         <input type="hidden" id="valorSmP1" value="<?php echo $totalSmP; ?>" name="">
                                         <input type="hidden" id="valorSmT1" value="<?php echo $totalSmA-$totalSmP; ?>" name="">
                                         <input type="hidden" id="valorMA1" value="<?php echo $totalSmA; ?>" name="">
                                         <input type="hidden" id="valorMP1" value="<?php echo $totalSmP; ?>" name="">
                                         <input type="hidden" id="valorMT1" value="<?php echo $totalSmA-$totalSmP; ?>" name="">
                                         <input type="hidden" id="valorSIXA1" value="<?php echo $totalSIXA; ?>" name="">
                                         <input type="hidden" id="valorSIXP1" value="<?php echo $totalSIXP; ?>" name="">
                                         <input type="hidden" id="valorSIXT1" value="<?php echo $totalSIXA-$totalSIXP; ?>" name="">
                                         <input type="hidden" id="valorSYeA1" value="<?php echo $totalYeA; ?>" name="">
                                         <input type="hidden" id="valorSYeP1" value="<?php echo $totalYeP; ?>" name="">
                                         <input type="hidden" id="valorSYeT1" value="<?php echo $totalYeA-$totalYeP; ?>" name="">

                                     

                                                <!-- /.container-fluid -->
                                                <footer class="footer text-center"> 2018 &copy; IDSF <b>Integration Software  </b> <a target="_blank" href="<?php echo URL_SITIO ?>">WEBSITE</a></footer>
                                            </div>
                                            <!-- /#page-wrapper -->
                                        </div>
                                        <!-- /#wrapper -->
                                        <!-- jQuery -->
                                        <script src="<?php echo (URL); ?>views/plugins/bower_components/jquery/dist/jquery.min.js"></script>
                                        <!-- Bootstrap Core JavaScript -->
                                        <script src="<?php echo (URL); ?>views/snippets/layout/bootstrap/dist/js/tether.min.js"></script>
                                        <script src="<?php echo (URL); ?>views/snippets/layout/bootstrap/dist/js/bootstrap.min.js"></script>
                                        <script src="<?php echo (URL); ?>views/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js"></script>
                                        <!-- Menu Plugin JavaScript -->
                                        <script src="<?php echo (URL); ?>views/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>


                                            <script src="<?php echo (URL); ?>views/plugins/bower_components/skycons/skycons.js"></script>



                                        <script src="<?php echo URL; ?>views/snippets/layout/js/jquery.PrintArea.js" type="text/JavaScript"></script>
                                            <script>
                                        $(document).ready(function() {
                                            $("#print").click(function() {
                                                var mode = 'iframe'; //popup
                                                var close = mode == "popup";
                                                var options = {
                                                    mode: mode,
                                                    popClose: close
                                                };
                                                $("div.printableArea").printArea(options);
                                            });
                                        });
                                        </script>
    
                                        <!--slimscroll JavaScript -->
                                        <script src="<?php echo (URL); ?>views/snippets/layout/js/jquery.slimscroll.js"></script>
                                        <!--Wave Effects -->
                                        <script src="<?php echo (URL); ?>views/snippets/layout/js/waves.js"></script>
                                        <!--Morris JavaScript -->
                                        <script src="<?php echo (URL); ?>views/plugins/bower_components/raphael/raphael-min.js"></script>
                                        <script src="<?php echo (URL); ?>views/plugins/bower_components/morrisjs/morris.js"></script>

                                        <script src="<?php echo (URL); ?>views/plugins/bower_components/owl.carousel/owl.carousel.min.js"></script>
                                        <script src="<?php echo (URL); ?>views/plugins/bower_components/owl.carousel/owl.custom.js"></script>

                                        <!--Counter js -->
                                        <script src="<?php echo (URL); ?>views/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
                                        <script src="<?php echo (URL); ?>views/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
                                        
                                        <!-- Custom Theme JavaScript -->
                                        <script src="<?php echo (URL); ?>views/snippets/layout/js/custom.min.js"></script>
                                        <!-- Sparkline chart JavaScript -->
                                        <script src="<?php echo (URL); ?>views/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
                                        <script src="<?php echo (URL); ?>views/plugins/bower_components/jquery-sparkline/jquery.charts-sparkline.js"></script>
                                    <!-- <script src="<?php echo (URL); ?>views/snippets/layout/js/dashboard1.js"></script>
                                        <!-- Sparkline chart JavaScript -->
                                        <script src="<?php echo (URL); ?>views/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
                                        <script src="<?php echo (URL); ?>views/plugins/bower_components/jquery-sparkline/jquery.charts-sparkline.js"></script>
                                        <!--Style Switcher -->
                                        
                                        <!--Style Switcher -->



                                        <script src="<?php echo (URL); ?>views/plugins/bower_components/Chart.js/Chart.min.js"></script>
                                        <?php
                                        $modelMov2 = new models\Movements();
                                        $dataTodayActive2 = $modelMov2->todayActive();
                                        $dataTodayPassive2 = $modelMov2->todayPassive();
                                        $totalA2 = 0;
                                        while ( $totalActive2 = mysqli_fetch_array($dataTodayActive2)) {
                                             $totalA2 += $totalActive2['totalMoney']; 
                                         } ;
                                        $totalP2 = 0;
                                        while ( $totalPassive2 = mysqli_fetch_array($dataTodayPassive2)) {
                                             $totalP2 += $totalPassive2['totalMoney']; 
                                         } 
                                         ?>
                                         <input type="hidden" id="valor4" value="<?php echo $totalP2; ?>" name="">
                                         <input type="hidden" id="valor5" value="<?php echo $totalA2; ?>" name="">
                                         <input type="hidden" id="valor6" value="<?php echo $totalA2-$totalP2; ?>" name="">
                                        <script src="<?php echo (URL); ?>views/snippets/layout/js/widget.js"></script>
                                        <script src="<?php echo (URL); ?>views/snippets/layout/js/widget3.js"></script>
                                        <script src="<?php echo (URL); ?>views/snippets/layout/js/widget4.js"></script>
                                        <script src="<?php echo (URL); ?>views/snippets/layout/js/widget5.js"></script>
                                        <script src="<?php echo (URL); ?>views/snippets/layout/js/widget6.js"></script>
                                        <script src="<?php echo (URL); ?>views/snippets/layout/js/widget7.js"></script>
                                        <script src="<?php echo (URL); ?>views/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
